body{
    background-color:lightgray;
    text-align: center;
    margin: auto;
    padding: 40px;
    font-family: sans-serif;
}
h1{
    font-family: cursive;
    color: rgb(77, 77, 77)
}
#container {
    width: 960px;
    margin: 20px auto;
}
.box-link {
    padding-top: 20px;
    height: 100 px;
    background-color: rgba(211, 211, 211, 0.7);
    color: darkgrey;
    padding-bottom: 20px;

}
h1{
    font-family: cursive;
    color: rgb(77, 77, 77)
}
.inline-block {
    width: 150px;
    height:100px;
    display: inline-block;
    padding-top: 20px;
}
.inline-block2 {
    width: 300px;
    height: 200px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;

}
.link {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.link2 {
    background-color:darkgrey;
  }

.box-img{
    
    background-color: rgba(169, 169, 169, 0.7);
    color: #777777;
    padding-top: 20px;

}
input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
    width: 500px;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: left;
    font-family: sans-serif;
}

input[type="submit"] {
    background-color: rgb(70, 69, 69);
    color: white;
    text-align: center;
}

.form-row {
    margin: 10px 0;
}


