body{
    background-color:#d3d3d3;
    text-align: center;
    
    font-family: sans-serif;
}
#container {
    width: 960px;
    margin: 20px auto;
}
.centered-container {
    background-color:rgba(211, 211, 211, 0.7);
 
}
h1{
    font-family: cursive;
    color: rgb(77, 77, 77);
}


.box-img{
    
    height: 100 px;
    background-color: rgba(169, 169, 169, 0.7);
    color: darkgrey;
    margin: auto;
    width: 960px;
}
.box-link {
    padding-top: 20px;
    height: 100 px;
    color: darkgrey;

}
.inline-block {
    width: 150px;
    height:100px;
    display: inline-block;
    padding-top: 20px;
}
.inline-block2 {
        width: 300px;
        height: 200px;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
    
    }
.link {
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
.link2 {
        background-color:darkgrey;
      }

    #footer {
        background-color: rgba(169, 169, 169, 0.7);
        height: 100px;
        margin: auto;
        color: black;
        padding-top: 20px;
        padding-bottom: 30px;
        width: 960px;
    }